body {
	display: flex;

	background-color: #ffc;
}

h1 {
	text-align: center;
	font-family: 'Yu Mincho Demibold', serif;
}

#wrapper {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;

	background-color: #fff;

	flex-grow: 1;
}

#question {
	@extend #wrapper;

	& p {
		margin: 0;
	}
}

#question-tf {
	display: grid;

	@extend #question;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	grid-template-columns: 1fr 35px 35px;
}

#question-ch {
	display: flex;
	flex-direction: column;

	@extend #question;
}

#title {
	grid-column: 1 / 4;
}

#answer {
	text-align: center;
}

#next {
	grid-column: 2 / 4;
}

.button {
	display: block;

	cursor: pointer;
	text-align: center;

	border: #fff 1px outset;
	border-radius: 10px;

	&:hover {
		background-color: #ccc;
	}

	&:active, &[data-selected='true'] {
		border: #dfd 1px outset;
		background-color: #dfd;
	}
}

@mixin button-ox($color, $fontsize) {
	font-family: Consolas, sans-serif;
	font-size: $fontsize;

	color: $color;
}

.radio {
	height: 30px;

	@extend .button;

	&[data-value='o'] {
		width: 30px;

		@include button-ox(#f00, 25px);
	}

	&[data-value='x'] {
		width: 30px;

		@include button-ox(#00f, 25px);
	}
}

.link-button {
	@extend .button;
}

.nomarker-list {
	list-style-type: none;
}
